/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #ffffff;
    background-color: #ffffff;
}

.pagination a,
.pagination .currentStep {
    color: rgba(25, 85, 171, 0.76);
    display: inline-block;
    padding: 0.36em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    height: 36px;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: rgba(25, 85, 171, 0.76);
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}
